## 设置值

In [18]:
import pandas as pd
import numpy as np

In [19]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)), index=dates, columns=['A', 'B', 'C', 'D'])

In [20]:
df.iloc[2, 2] = 1111
df.loc['20130101', 'B'] = 2222
df

             A     B     C   D
2013-01-01   0  2222     2   3
2013-01-02   4     5     6   7
2013-01-03   8     9  1111  11
2013-01-04  12    13    14  15
2013-01-05  16    17    18  19
2013-01-06  20    21    22  23

In [21]:
df.B[df.A>4] = 0
df

             A     B     C   D
2013-01-01   0  2222     2   3
2013-01-02   4     5     6   7
2013-01-03   8     0  1111  11
2013-01-04  12     0    14  15
2013-01-05  16     0    18  19
2013-01-06  20     0    22  23

In [22]:
df['E'] = np.nan
df

             A     B     C   D   E
2013-01-01   0  2222     2   3 NaN
2013-01-02   4     5     6   7 NaN
2013-01-03   8     0  1111  11 NaN
2013-01-04  12     0    14  15 NaN
2013-01-05  16     0    18  19 NaN
2013-01-06  20     0    22  23 NaN

In [25]:
# 如果没有index=pd.date_range('20130101', periods=6) 就会是NAN
df['F'] = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130101', periods=6))
df

             A     B     C   D   E   F
2013-01-01   0  2222     2   3 NaN NaN
2013-01-02   4     5     6   7 NaN NaN
2013-01-03   8     0  1111  11 NaN NaN
2013-01-04  12     0    14  15 NaN NaN
2013-01-05  16     0    18  19 NaN NaN
2013-01-06  20     0    22  23 NaN NaN