## 处理丢失数据

In [2]:
import pandas as pd
import numpy as np

In [3]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)), index=dates, columns=['A', 'B', 'C', 'D'])

In [10]:
df.iloc[0, 1] = np.nan
df.iloc[1, 2] = np.nan

In [11]:
df

             A     B     C   D
2013-01-01   0   NaN   2.0   3
2013-01-02   4   5.0   NaN   7
2013-01-03   8   9.0  10.0  11
2013-01-04  12  13.0  14.0  15
2013-01-05  16  17.0  18.0  19
2013-01-06  20  21.0  22.0  23

In [12]:
# 直接删除整行 /   axis = 1 删除整列
print(df.dropna(axis=0, how='any')) # how = {'any', 'all'}

             A     B     C   D
2013-01-03   8   9.0  10.0  11
2013-01-04  12  13.0  14.0  15
2013-01-05  16  17.0  18.0  19
2013-01-06  20  21.0  22.0  23

In [13]:
df = df.fillna(value=0)
df

             A     B     C   D
2013-01-01   0   0.0   2.0   3
2013-01-02   4   5.0   0.0   7
2013-01-03   8   9.0  10.0  11
2013-01-04  12  13.0  14.0  15
2013-01-05  16  17.0  18.0  19
2013-01-06  20  21.0  22.0  23

In [18]:
# 是否丢失数据
print(np.any(df.isnull()) == True)

False