## 选择数据

In [1]:
import pandas as pd
import numpy as np

In [4]:
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.arange(24).reshape((6,4)), index=dates, columns=['A', 'B', 'C', 'D'])

In [5]:
print(df)

             A   B   C   D
2013-01-01   0   1   2   3
2013-01-02   4   5   6   7
2013-01-03   8   9  10  11
2013-01-04  12  13  14  15
2013-01-05  16  17  18  19
2013-01-06  20  21  22  23

In [6]:
print(df['A'])

2013-01-01     0
2013-01-02     4
2013-01-03     8
2013-01-04    12
2013-01-05    16
2013-01-06    20
Freq: D, Name: A, dtype: int32

In [7]:
print(df.A)

2013-01-01     0
2013-01-02     4
2013-01-03     8
2013-01-04    12
2013-01-05    16
2013-01-06    20
Freq: D, Name: A, dtype: int32

In [8]:
df[0:3]

            A  B   C   D
2013-01-01  0  1   2   3
2013-01-02  4  5   6   7
2013-01-03  8  9  10  11

In [10]:
df['20130102':'20130104']

             A   B   C   D
2013-01-02   4   5   6   7
2013-01-03   8   9  10  11
2013-01-04  12  13  14  15

### loc

In [11]:
df.loc['20130102']

A    4
B    5
C    6
D    7
Name: 2013-01-02 00:00:00, dtype: int32

In [15]:
# 纵向
df.loc['20130102', ['A', 'B']]

A    4
B    5
Name: 2013-01-02 00:00:00, dtype: int32

### iloc

In [18]:
df

             A   B   C   D
2013-01-01   0   1   2   3
2013-01-02   4   5   6   7
2013-01-03   8   9  10  11
2013-01-04  12  13  14  15
2013-01-05  16  17  18  19
2013-01-06  20  21  22  23

In [16]:
# 选择第三行（0开始）
df.iloc[3]

A    12
B    13
C    14
D    15
Name: 2013-01-04 00:00:00, dtype: int32

In [17]:
# 选择第三行，第二列（0开始）
df.iloc[3, 1]

13

In [19]:
df.iloc[3:5, 1:3]

             B   C
2013-01-04  13  14
2013-01-05  17  18

In [20]:
df.iloc[[1,3,5], 1:3]

             B   C
2013-01-02   5   6
2013-01-04  13  14
2013-01-06  21  22

### ix [版本过期]

In [21]:
df.ix[:3, ['A', 'C']]

AttributeError: 'DataFrame' object has no attribute 'ix'

### 筛选

In [22]:
df[df.A > 8]

             A   B   C   D
2013-01-04  12  13  14  15
2013-01-05  16  17  18  19
2013-01-06  20  21  22  23